
@model AMS_PRJ.Models.employe

@{
    ViewBag.Title = "Login";
}

<center>
    <h2 style="color:darkblue;font-size:40px; font-family:'David CLM MediumItalic'">Welcome to Employee Login Page</h2>
</center>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    
        
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.empid, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.empid, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.empid, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Login" class="btn btn-success btn-lg" />
        </div>
       
    </div>
    
    <h3 style="color:red">@Html.ViewData["message"]</h3>
</div>

}

<div>
  <button class="btn btn-danger btn-lg"> @Html.ActionLink("Back", "Index") </button>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



