
@{
    ViewBag.Title = "welcome";
}

@if (Session["username"] != null)
{
   <center> <h2 style=" font-size:50px; color:darkgreen">Welcome to Employee page</h2> </center>
}
</br></br></br></br>

    <form method="post">
            <div>
                    <button  class="btn-warning btn-lg"> @Html.ActionLink("Attendace", "CheckIn", "Home") &raquo;</button></br></br>
                    <button class="btn btn-success btn-lg">@Html.ActionLink("Leave", "Leave", "Home")  &raquo;</button></br></br>
                    <button class="btn btn-success btn-lg">@Html.ActionLink("summary", "summary", "Home")  &raquo;</button></br></br>
                    <button class="btn btn-warning btn-lg">@Html.ActionLink("Back", "Login")&raquo;</button></br></br>
                    <button class="btn btn-danger btn-lg">@Html.ActionLink("Logout", "Index")&raquo;</button></br></br>
     
            </div>
    </form>

