
@{
    ViewBag.Title = "welcome";
}

@if (Session["username"] != null)
{
   <center> <h2 style=" font-size:50px; color:darkgreen">Welcome to Employee page</h2> </center>
}
</br></br></br></br>

    <form method="post">
            <div class="navbar navbar-inverse navbar-fixed-top" >
                <ul class="nav navbar-nav">

                 <li> @Html.ActionLink("Attendace", "CheckIn", "Home")</li>
                 <li > @Html.ActionLink("Leave", "Leave", "Home")</li>
                 <li>    @Html.ActionLink("summary", "summary", "Home")</li>
                 <li>   @Html.ActionLink("Back", "Login")</li>
                  <li>  @Html.ActionLink("Logout", "Index")</li>

                </ul>
                
                       
     
            </div>
    </form>

